@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  
    height: 100vh;
    background: rgb(34,193,195);
    background: radial-gradient(at center center, rgb(88, 28, 135), rgb(99, 102, 241));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 6rem;
  color:#9bffb6;
}
